.character-list {
  width: 33%;
  padding: 0 0 0 15px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 25px;
}
.character-list > h2 {
  text-align: center;
  padding: 20px 0;
}

.character-list > article {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 8px 10px;
  margin: 0 0 0 10px;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(242, 223, 160);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.character-list > article > button {
  width: 120px;
  height: 30px;
  cursor: pointer;
  background-color: rgb(238, 123, 74);
  border-radius: 15px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.character-list > article > button:hover {
  opacity: 0.6;
}
