@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  --mainColor: white;
  --shadowColor: ;
  --secondaryColor: ;
  --tertiaryColor: ;
  --general-font: "Nunito", sans-serif;
  --button-font: "Nunito", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--general-font);
  background: var(--mainColor);
  background-repeat: no-repeat;
  min-height: 90vh;
}

.background {
  width: 100%;
  opacity: 0.5;
  z-index: -1;
  position: absolute;
}
