.battle-scene {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 16px;
  border: 1px solid black;
}

.battle-scene h2 {
  text-align: center;
}

.character-list-div {
  width: 60vw;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.character-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-container > button {
  position: relative;
  left: -65px;
  height: 3vh;
  width: 4vw;
  background-color: rgb(238, 123, 74);
  border-radius: 15px;
  border: 3px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.character-container > button:hover {
  border-color: rgba(255, 255, 255, 0.544);
  transition: 0.3s;
}
