.identity {
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 0 0 0 10px;
}

.ressources {
  width: 80%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
.ressources > input {
  width: 125px;
}

.character > section > img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  padding: 10px 5px;
  width: 90%;
  background-color: rgb(242, 223, 160);
}

.out-ressource {
  border: 2px solid red;
}
