.character-form {
  display: flex;
  flex-direction: column;
  width: 62%;
  height: 95vh;
  padding: 20px 0 0 10px;
  background-color: rgb(242, 223, 160);
  margin: 25px 0 0 10px;
  border-radius: 15px;
}

.character-form > h2 {
  text-align: center;
  width: 100%;
}

.character-form > form > input,
.character-form > form > textarea {
  padding: 5px 5px;
}

.character-form > img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  padding: 5px 0 0 5px;
}

.character-form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.character-form > form > button {
  margin: 25px 0 0 0;
  padding: 5px 20px;
  width: 100px;
  height: 30px;
  background-color: rgb(238, 123, 74);
  border-radius: 15px;
  font-size: 14px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.character-form > form > button:hover {
  opacity: 0.6;
}

.character-form > form > label {
  margin: 15px 0 0 0;
}

.character-form > form > input,
.character-form > form > label,
.character-form > form > textarea {
  width: 50%;
  height: 30px;
}
