.turnorder > h2 {
  text-align: center;
}

.turnorder > article {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  width: 100%;
  padding: 10px 20px;
  justify-content: space-between;
  background-color: rgb(242, 223, 160);
}

.turnorder {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
