.register-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.register-component > h2,
.register-component > p {
  padding: 20px 0 10px 0;
}

.register-component > form {
  display: flex;
  flex-direction: column;
}

.register-component > form > button,
.register-component > button {
  padding: 10px 5px;
  margin: 10px 0;
}

.register-component > form > input {
  padding: 10px 5px;
  margin: 0 0 10px 0;
  width: 250px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.register-component > button {
  border: none;
  background-color: rgb(242, 223, 160);
  text-decoration: underline;
}

.register-component > form > button {
  background-color: rgb(238, 123, 74);
  border-radius: 15px;
  font-size: 14px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.register-component > form > button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.register-component > button:hover,
.register-component > p:hover {
  cursor: pointer;
  opacity: 0.6;
}

.register-component > form > div {
  display: flex;
  gap: 8px;
}
